

.password-section {
    margin-bottom: 100px;
    border-bottom: 6px solid #d9cdcd;
}
.password-section .note-text {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 150px;
}
.password-section .password-page-wrap {
    margin-bottom: 24px;
    padding: 18px;
}
.password-section .input-type-pass {
    margin-left: 150px;
    border-bottom: 1px solid #ada4a4;
}
.password-section input[type="password"] {
    color: #212529;
    font-family: 'Karrik';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}
.password-section .password {
    color: #212529;
    font-family: 'Karrik';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}
.password-section .password::before {
    content: "";
    height: 30px;
    position: absolute;
    top: 0;
    left: -18px;
    border-left: 5px solid #04aa6d;
    border-radius: 2px;
}
.password-section .btn-btn {
    color: #FFF;
    text-align: center;
    font-family: 'Karrik';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
    background: none;
    border: none;
    cursor: pointer;
}
.password-section .password-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 1.5s ease-in-out;
    background: linear-gradient(16deg, #04aa6d, #4CAF50);
    max-width: 1015px;
    margin: 0 auto 24px;
}
.password-section .current-pass {
    position: relative;
}
.password-section input[type="email"] {
    color: #212529;
    font-family: 'Karrik';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}
.password-section input[type="text"] {
    color: #212529;
    font-family: 'Karrik';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}
.password-section input ::placeholder {
    color: #212529;
    font-family: 'Karrik';
    font-size: 18px;
    font-weight: 400;
}
.password-section .note {
    color: #04aa6d;
    font-family: 'Karrik';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-right: 4px;
}
.password-section .noted--p {
    color: #212529;
    font-family: 'Karrik';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}

@media screen and (max-width:990px) {
    .password-section .note-text {
        align-items: unset;
        margin-left: 0;
    }
    .password-section .password {
        font-size: 16px;
        line-height: 1.2;
    }
    .password-section input[type="password"] {
        font-size: 16px;
    }
    .password-section input[type="email"] {
        font-size: 16px;
    }
    .password-section .password-button {
        padding: 8px 14px;
        max-width: 360px;
    }
    .password-section .noted--p {
        font-size: 14px;
    }
    .password-section input[type="text"] {
        font-size: 15px;
    }


}




