


.footer {
    background: linear-gradient(16deg, #6c757d, rgba(0,0,0,.5));
    /* background: linear-gradient(16deg, #eee, #04AA6D); */
    /* background: linear-gradient(16deg, #0d6efd, #072e67); */
    padding: 12px 0;
    /* position: relative; */
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer .footer-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .footer-last-icon {
    font-size: 24px;
    color: #076964;
    font-weight: 900;
    font-family: 'Karrik';
}
.footer .footer-last-icon:hover{
    color: white;
}
.footer .home-icon {
    max-width: 60px;
    height: 60px;
    border: 7px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #3333bc;
}
.footer .footer-center-icon {
    font-size: 24px;
    color: #f8f3f3;
    font-weight: 900;
    font-family: 'Karrik';
}
.footer .responsive {
    display: none;
}
/* .footer .footer-last-icons {
    max-width: 25%;
    flex: 25%;
    text-align: center;
} */
.footer .home-icon:hover {
    border: 7px solid yellow;
    color: yellow;
}
.footer .footer-center-icon:hover {
   color: yellow;
}
.footer .border {
    border-top: 3px solid yellow;
    color: yellow;
    width: 25%;
    position: absolute;
    top: 0;
    left: 37%;
}
@media screen and (max-width:767px) {
    .footer .responsive {
        display: block;
    }
}





