



.main-dashboard-header {
    background:  #04aa6d;
    padding: 8px 0;
}
.main-dashboard-header .logo {
    color: #FFF;
    font-family: 'Karrik';
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.main-dashboard-header .dashboard-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-dashboard-header .icon {
    color: white;
}