
.pop-up {
    max-width: 570px;
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(16deg, #0d6efd, #072f69);
    border-radius: 30px;
    width: 100%;
    box-shadow: 0 5px 13px -5px #333;
    border: 1px solid #ccc;
    margin-bottom: 16px;
}
.pop-up .text {
    color: #dc3545;
    font-family: 'Karrik';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-bottom: 12px;
    list-style: unset;
}
.pop-up .pop-up-list {
    color: #FFF;
    font-family: 'Karrik';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 12px;
    list-style: unset;
}
.pop-up .pop-up-heading {
    color: #dc3545;
    font-family: 'Karrik';
    font-size: 25px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
    margin-bottom: 12px;
    text-align: center;
}
.pop-up .unorder-list-items {
    margin-left: 20px;
    margin-bottom: 52px;
}
.pop-up .button-border {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 5px;
    transition: color 1.5s;
    background: #053b8b;
    margin-bottom: 10px;
}
button.btn-bttn2 {
    color: #FFF;
    text-align: center;
    font-family: 'Karrik';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: capitalize;
    cursor: pointer;
}
















